git+https://github.com/Rapptz/discord.py
aiohttp                  
async-timeout                 
attrs                        
cachetools                    
certifi                   
chardet                     
charset-normalizer      
https://github.com/Rapptz/discord.py               
google-api-core         
google-api-python-client 
google-auth             
google-auth-httplib2     
googleapis-common-protos 
httplib2                 
idna                     
multidict                
pip                     
protobuf                 
py                      
pyasn1                   
pyasn1-modules         
pyparsing                
requests              
rsa                      
setuptools               
six                      
typing-extensions        
uritemplate              
urllib3                  
wheel                   
yarl                     